.pre-loading { 
  padding:30px;
  text-align:center;
  font-weight:bold;
  font-family:"Arial"
}

#status {
  position: absolute;
  left: 32%;
  top: 30%;
  font-weight: bold;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: #334aff;
}


.refresh {
  border-radius: 5px;
  border: none;
  background-color: white;
  color: #334aff;
  width: 190px;
  height: 30px;
  font-weight: bold;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.text {
  color: #fff;
  font-size: 20px;
  margin-top: 200px;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, .1);
  border-top: 10px solid #fff;
  animation: animate 1.5s infinite;
}

@keyframes animate
{
  0%
  {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%
  {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}